.NewTodoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#task {
  margin-left: 20px;
  padding: 8px;
  border: 1px solid gray;
}

.NewTodoForm-Button {
  background-color: pink;
  border: 1px solid gray;
  padding: 8px;
}
